dummy/.settings
dummy/target
dummy/temp
dummy/log.txt
dummy/data/out*

LES/.settings
LES/*.cl
LES/cl/*.abcl
LES/cl/*.nbcl
LES/winddata.dat
LES/**/*.apf
LES/bin/*
LES/target/*
LES/temp/*
LES/work/*
LES/log.txt

aparapi-ucores/src/aparapi/com.amd.aparapi/dist/*
aparapi-ucores/src/aparapi/com.amd.aparapi/classes/*
aparapi-ucores/src/aparapi/com.amd.aparapi.jni/dist/*
aparapi-ucores/src/aparapi/samples/**/*.jar

report/*.log
report/*.out
report/*.blg
report/*.bbl
report/*.aux
report/*.toc

**/*~
GIS/*
